/* Base Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: aqua;
  color: #fff;
}

.navbar__logo a {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  margin: 0 15px;
}

.navbar__link a,
.navbar__link span {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.watchlist-icon {
  font-size: 1.5rem;
  color: black;
}

.navbar__user a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

/* Search Bar */
.navbar__search {
  position: relative;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .navbar__links {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .navbar__link {
    margin: 10px 0;
  }

  .navbar__search input {
    width: 100%;
    margin-top: 10px;
  }

  .navbar__user {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .navbar__user a {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .navbar__logo a {
    font-size: 1.2rem;
  }

  .navbar__search input {
    width: 90%;
    margin-top: 5px;
  }

  .watchlist-icon {
    font-size: 1.2rem;
  }

  .navbar__links {
    display: none; /* Collapse links on very small screens */
  }
}
