/* Watchlist Section */
.watchlist-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .watchlist-section h2 {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
  }
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .movie-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    width: 200px;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .movie-card h3 {
    font-size: 1.2rem;
    color: wheat;
    margin: 10px 0;
  }
  
  .movie-card p {
    font-size: 0.9rem;
    color: wheat;
  }
  
  .remove-watchlist-button {
    background-color: #ff4757;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-watchlist-button:hover {
    background-color: #e84118;
  }
  
  .remove-watchlist-button:focus {
    outline: none;
  }
  
  .movies p {
    font-size: 1.2rem;
    text-align: center;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .movies {
      flex-direction: column;
      align-items: center;
    }
    
    .movie-card {
      width: 100%;
    }
  }
  



  